@model Web.ReferenceModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Edit</title>
	<link href="/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        @using (Html.BeginForm("UpdateReference", "Sample")) {
			@Html.EditorForModel()
			@Html.Hidden("ModelType", Model.GetType())
			<button>Update</button>
		}
		
		
	</div>
</body>
</html>
