@model IEnumerable<Web.ReferenceModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>List of references</title>
	<link href="/Content/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <table>
        <tr>
            <th>Reference</th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
		<tr>
			<td>
				@item.ToString()
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new {  item.Id })
			</td>
		</tr>
    }
    
    </table>
</body>
</html>

