<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="TypeMock" publicKeyToken="3dae460033b8d8e2" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.6.0" newVersion="7.0.6.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Ivonna" publicKeyToken="39dabd86397d3761" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.5.22228" newVersion="3.0.5.22228" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>